
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav a.nav-student {
    font-weight: 800;
    border-bottom: 2px solid #ffffff; /* Underline effect for emphasis */
}


.student-section {
    padding: 105px 40px;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 160px;
}


.student-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.text-content p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

.image-content {
    flex: 1;
    text-align: right;
    padding-top: 120px;
}

.image-content img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #949494;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .student-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        padding-right: 0;
    }

    .text-content p {
        margin-bottom: -30px;
    }

    .image-content {
        text-align: center;
    }
}
